.org-profile{
  width: 100%;
  .avator{
    float: left;
    img{
      line-height: 1;
      vertical-align: middle;
      border-radius: 3px;
      width: 100px;
      height: 100px;
    }
  }
  .profile{
    float: left;
    padding-left: 20px;
    .name{
      font-weight: 400;
    }
    .contantus{
      ul{
        li{
          font-size: 12px;
          line-height: 1.5;
          list-style: none;
          float: left;
          margin-right: 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .avator{
    display: none;
  }
}