{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "vueIndentScriptAndStyle": false,
  "eslintIntegration": true,
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "parenthesisSpace": true
}
