.fleece-component{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  .f6 {
    font-size: 12px !important;
  }
  .text-gray {
    color: #586069 !important;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
  p{
    margin-top: 0;
    margin-bottom: 10px;
  }
}